

section .container{
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
   
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-2);
    
}

form label {
    background-color: transparent;
    position: inherit;  
}

/* Form elements */

input[type="search"], input[type="text"], input[type="email"], textarea{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}