/* .contactPage .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

} */

.contactPage{
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
}

form label {
    background-color: transparent;
    position: inherit;
   
}

/* Form elements */

input[type="search"], input[type="text"], input[type="email"], textarea{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing:border-box;
}