main{
    height: 100dvh;
}
form {
    display: flex;
    flex-direction: column;
    gap: var(--space-2); 
    max-width: 400px; 
}



/* Form elements */

input[type="search"], input[type="text"], input[type="email"], textarea{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}