
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



*{
  box-sizing:border-box;
  margin: 0;
  scroll-behavior: smooth;
 
}

:root{
  --header-h: 120px;           /* adjust once */
  --bg: #f5f5f5;
  --bg2: #FFD6D1;
  --ink: #014B43;
  --muted: #3A563D;
  --muted2: #3D3D3D;
  --pink: #F4A7C1;
  --pink-muted:  #be708a;
  --nav-bar:#F5EEA6;


  /* spacing */

  --space-1: 0.5rem;   /* 8px */
  --space-2: 1rem;     /* 16px */
  --space-3: 1.5rem;   /* 24px */
  --space-4: 6rem;     /* 32px */
  --space-5: 10rem;
  --space-6: 12rem;
       /* 40px */

  /* font sizes mobile */

  --font-size-1: 1rem; /*16px*/
  --font-size-2: 1.25rem; /*20px*/
  --font-size-3: 1.5rem; /*24px*/
  --font-size-4: 2rem; /*32px*/
  --font-size-5: 2.5rem; /*40px*/
  --font-size-6: 8rem;



}





body{
  font-family: 'poppins';
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100dvh;
  background: none;
  color: var(--ink);
}


ul{
  list-style:none;
  margin: 0;
  padding: 0;
 
}

li{
  font-family: "Lora", serif;
  padding: var(--space-1) 0;
}

h1 {
  font-size: clamp(3rem, 2rem + 2vw, 6rem);
  font-weight: 800;
  line-height: 110%; 
  margin-bottom: var(--space-2);
 
}

h2{
  font-size: 60px;
  letter-spacing: -0.5px;
  font-weight: 700;
  
}

h3{
  font-size: clamp(var(--font-size-3), 2vw, var(--font-size-2));
  line-height: 120%;
  font-weight: 700;
  margin-bottom: var(--space-2);
}

h4{
  font-size: clamp(var(--font-size-1) 5vw var(--font-size-2));
  text-align: left;
  margin-bottom: var(--space-2);
  font-weight: 600;
  line-height: 120%;
  
}
h5{
  font-size:clamp(var(--font-size-2), 2vw, var(--font-size-3));
  font-weight: 500;
  letter-spacing: 1px;
}

h6{
  font-size: var((--font-size-2), 2vw, var(--font-size-3));
  line-height: 120%;
  width: 100%;
  font-weight: 400;

}

p{
  font-size: var(--font-size-1);
  font-weight: 400;
  font-family: "Lora", serif;
  line-height: 150%;
  
}

.cardTitle{
  line-height: 120%;
  font-size: 14px;
  font-weight: 500;
  
  
}



a{ 
  text-decoration:none;
  color:inherit;
  font: inherit; 
  margin: var(--space-1) 0;
 }

 .autoshow{
  animation: text-appear both;
 }

@supports (animation-timeline: view()) {
 .autoshow{
  animation-timeline: view();
  animation-range: entry 30% cover 100vh;
 }
}
@keyframes text-appear {
  from{
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

}



/* components * header */

header{
  position:sticky;
  margin: 0;
  z-index: 1000;
  inset: 0 0 auto 0;
}


.header-top{
  width: 100%;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-1) var(--space-1);
  gap: var(--space-1);
  
}



.topPink{
  background: var(--pink);
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo{
  width: 56px;
  height: 56px;
}

.logo img{
  width: 100%;
  height: 100%;
}

.cart{
  padding: .5rem;
  cursor: pointer;
  position: relative;
  display: flex;
}

.cart-count{
  position: absolute;
  top: 0;
  right: -6px;
  color: var(--bg);
  width: 20px;
  height: 20px;
  background: var(--ink);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 50%;
  visibility: hidden;
}
.icons{
  display: flex;
  align-items: center;
  
}



.hamburger{
  display: none;
  cursor: pointer;
  padding: .5rem;
}

.search{
  display: none;
}


/* components * Nav */

.navBar{
  display: flex;
  flex-direction: column;
  position: fixed;
  color: var(--nav-bar);
  width: 100%;
  transition: background-color 0.7s ease, box-shadow .25s ease;
  
}



.navBar.scrolled{
  color: var(--ink);
  background-color: var(--nav-bar)
 
}



.navBar a:hover {
  color: var(--pink);
}

.navlink{
  font-weight: 400;
  font-size: var(--font-size-2);
  margin-left: var(--space-2);
 
}


img {
    max-width: 100%;
    height:100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.about-card img {
  /* 1. Flex Sizing: Takes up 50% of the card width */
  flex: 1; 
  
  /* 2. Dimensions: Fill the container height */
  width: 100%;
  
  
  /* 3. Critical: Crops image to fit without distortion */
  object-fit: cover; 
  
  /* 4. Layout: Removes default inline spacing gaps */
  display: block;
  
  /* 5. Visual: Optional minimum height for desktop balance */
  min-height: 300px; 
}






/* component * button */

.btn {
  padding: var(--space-2) var(--space-3);
  background-color: var(--pink);
  border: none;
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
  color: var(--bg);
  white-space: nowrap;
  cursor: pointer;
  border-radius: 24px 0px;

  
}

.btn:hover{
  background: var(--ink);
  transition: background-color .25s ease, color .25s ease;
}

label{
  background-color: var(--ink);
  position: absolute;
  font-size: 12px;
  border-radius: 12px 0px;
  padding: 0px 12px;
  color: var(--bg);
  
}



.backgroundcover{
  position: fixed;
  background-image:  url('/resources/Close-up\ of\ Lips\ in\ Water.png');
  top: 130px;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}





main {
  height: fit-content;
  background: linear-gradient(to bottom, transparent 100vh, var(--bg) 40%);
}



.container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  height: 100%;
  gap: var(--space-3);
  padding: 0  var(--space-2);
  flex-wrap: wrap;
}



section{
  padding: var(--space-6) 0;
  height: fit-content;
}







/* Hero */





.hero {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  /* This line makes the change animate instead of snap */
  transition: opacity 1s ease-out, transform 1s ease-out; 
}

.hero.show {
  opacity: 1;
  transform: translateY(0);
}




.landingPage{
  height: 100dvh;
  padding: 0;
  color: var(--bg);
}

.landingPage .container{
  justify-content: flex-end;
  padding-bottom: var(--space-6);
  height: 100%;
}







.about-card{
 background-color: #f5f5f5;
 padding: var(--space-3);
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: var(--space-2);
 border-radius: 24px;
 align-self: center;
}

.imageBox{
  max-height: 320px;
}

.imageBox img {
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}






.aboutText{
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}


.item{
  width: 100%;
  padding: var(--space-2);
  background-color: var(--ink);
  border-radius: 16px;
  color: var(--bg);
  cursor: pointer;
}




.unhide{
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: none;
  overflow: hidden;
}

.item:hover .unhide{
  display: block;
}








.category-container{
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--space-2);
  
}


/* shop-by section */

.shop-by{
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-1);
  overflow-x: auto;        /* Enables horizontal scrolling (clips the rest) */
  scroll-snap-type: x mandatory; /* Activates the "slider" snap effect */           
}

.shop-card{
  flex: 0 0 auto; 
  scroll-snap-align: center;
  min-width: 640px; 
  border-radius: 24px;
}

 .item-image img {
  max-height: 200px;
  object-fit: cover;
 }







/* card component */


.card{
  background-color: var(--bg2);
  border-radius: 16px;
}



.card-container{
  display: flex;
  flex-direction: column;
  gap:var(--space-1);
  height: 100%;
  justify-content: space-between;
  padding:  var(--space-1)  var(--space-1) var(--space-2);
}

.cardText{
  display: flex;
  justify-content: space-between;
}



.card-container img {
  aspect-ratio: 4/3;
  border-radius: 12px;
}


.cardsGrid{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 gap: clamp(var(--space-2) , 5vw, var(--space-2));
 height: fit-content;
} 



.imagewrapper {
  height: 50dvh;
  position: relative;
  background-image: url(/resources/hero\ 3.jpeg);
  background-position: 50% 50%;
}

.wrapper-text{
  position: absolute;
  top: 50%;
  color: var(--bg);
  max-width: 800px;
}









/* bestsellers section */
.bestsellers{
  background-color: #291A1F;
}


.best-sellers-container{
  display: flex;
  gap: var(--space-2);
}

/* .autoshow {
  background-color: #382C30;
} */


/* Footer  section*/

footer{
  color: var(--bg);
  background-color: #382C30;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

}



.footer-container {
  height:fit-content;
  display: flex;
}

.categories{
  padding: var(--space-2);
}


/* Utilities */
.noWrap{ white-space:nowrap; }




/* media queries */

@media (max-width: 700px) {

  .hamburger{
    display: flex;
    cursor: pointer;
   
  }

  .navcontainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Define your menu width */
    height: 100%;
    background: var(--ink);
    transform: translateX(-999%); 
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .navcontainer.open {
  /* Slide back into view */
  transform: translateX(0); 
  
  }
 
 .navBar{
  display: flex;
  height: 100%;
 }

 main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background: linear-gradient(to bottom, transparent 100vh, var(--bg) 20%);
}

.backgroundcover{
  top: 0px;
}

 section{
  padding: var(--space-3) 0;
}

 .about-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  width: 100%;
 }

 .cardsGrid{
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 gap: clamp(var(--space-1) , 5vw, var(--space-3));
 } 

 #footer{
  display: flex;
  flex-direction: column;
}

.scentSection{
  position: relative;
  height: fit-content;

}

.best-sellers-container{
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.footer-container {
  height:fit-content;
  display: block;
}

}


@media (min-width: 700px) and (max-width: 2000px) {

  

  .navBar{
  display: flex;
  flex-direction: row;
  background-color: var(--ink);
  transition: background-color 0.7s ease, box-shadow .25s ease;
}

section{
   padding: var(--space-4) 0;
}



  
}

