
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');



*{
  box-sizing:border-box;
  margin: 0;
  scroll-behavior: smooth;
 
}

:root{
  --header-h: 120px;           /* adjust once */
  --bg: #eeffeb;
  --bg2: #FFD6D1;
  --ink: #014B43;
  --muted: #3A563D;
  --muted2: #3D3D3D;
  --pink: #F4A7C1;
  --pink-muted:  #be708a;
  --nav-bar:#F5EEA6;


  /* spacing */

  --space-1: 0.5rem;   /* 8px */
  --space-2: 1rem;     /* 16px */
  --space-3: 1.5rem;   /* 24px */
  --space-4: 10rem;     /* 32px */
  --space-5: 3rem;
  --space-6: 4rem;
       /* 40px */

  /* font sizes mobile */

  --font-size-1: 1rem; /*16px*/
  --font-size-2: 1.25rem; /*20px*/
  --font-size-3: 1.5rem; /*24px*/
  --font-size-4: 2rem; /*32px*/
  --font-size-5: 2.5rem; /*40px*/
  --font-size-6: 10rem;



}





body{
  font-family: 'DM Serif Display', serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
}


ul{
  list-style:none;
  margin: 0;
  padding: 0;
 
}

li{
  padding: var(--space-1);
  font-size: clamp(1rem, 1.2vw, 1.4rem);
}

h1 {
  font-size: 100px;
  letter-spacing: -2px;
  line-height: normal;
  font-family: 'DM Serif Display', serif;
  font-weight: 800; 
}

h2{
  font-size: 60px;
  letter-spacing: -0.5px;
  
}

h3{
  font-size: 48px;
  letter-spacing: 0px;
}

h4{
  font-size: var(--font-size-4);
  
}
h5{
  font-size:clamp(var(--font-size-2), 2vw, var(--font-size-3));
  font-weight: 400;
  letter-spacing: 1px;
}

h6{
  font-size: var(--font-size-3);
  font-family:'manrope' , sans-serif ;
  font-weight: 300; 
}

p{
  font-size: var(--font-size-1);
  line-height: 1.5;
  color: var(--muted2);
}

.cardTitle{
  font-weight: 600;
}

a{ 
  text-decoration:none;
  color:inherit;
  font: inherit; 
  
 }




/* components * header */

header{
  position:sticky;
  margin: 0;
  z-index: 1000;
  inset: 0 0 auto 0;
}

.topPink{
  background: var(--pink);
  padding: var(--space-2) var(--space-1);
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.topPink .logo{
  width: 44px;
  height: 44px;
}




.hamburger{
  display: none;
  cursor: pointer;
}



/* components * Nav */

.navBar{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  transition: background-color 0.7s ease, box-shadow .25s ease;
  
}



.navBar.scrolled{
  color: var(--ink);
  background-color: var(--nav-bar)
 
}



.navBar li :hover {
  color: var(--pink);
}

li .active{
  color: var(--pink);
}


video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}




/* component * button */

button ,.btn{
 
  
}

button:hover{
  background: var(--pink);
  color:var(--bg);
  transition: background-color .25s ease, color .25s ease;
}

.btn-secondary{
  background: none;
  border: 1px solid var(--pink);
  
}





/* section and container */

.backgroundcover{
  position: fixed;
  background-image:  url('/resources/Close-up of Lips in Water.png');
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}





main {
  display: flex;
  flex-direction: column;
  height: fit-content;
}



.container{
  display: flex;
  flex-direction: column;
  width: min(100% - 2rem, 1200px);
  height: fit-content;
  gap: var(--space-3);
  margin: 0 auto;
}

section{
  padding: var(--space-6) 0;
}





/* Hero */

.landingPage{
  
  color: var(--bg);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landingPage .container{
  width: 50%;
}

.heroText1 {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.7s ease, transform 0.7s ease; 
}

.heroText1.show {
  opacity: 1;
  transform: translateY(0);
}

.about-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg2);
  padding: var(--space-3);
  border-radius: var(--space-2);
}

.aboutText{
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  
}


/* products section */

.productsPage{
  background-color: var(--bg);

}



/* card component */


.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* aspect-ratio: 4/3; */
}
.image img {
  aspect-ratio: 4/3;
}

.cardsGrid{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: clamp(var(--space-1) , 5vw, var(--space-3));
} 

label{
  background-color: var(--pink);
  position: absolute;
  padding: 0.5rem 1rem;
}



.scentSection{
  position: relative;
  height: fit-content;

}



.scentText{
  position: absolute;
  width: 50%;
  top: 50%;           /* Moves top edge to vertical center */
  transform: translateY(-50%);

}







/* bestsellers section */
.bestsellers{
  background-color: var(--bg2);
}

/* Footer  section*/

footer{
  text-align:center;
  color: var(--bg);
  background-color: var(--ink);
  height:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-2);
  padding: var(--space-2);
  
}

#footer{
  display: flex;
  flex-direction: row;
}


.categories {
  text-align: left;
}





/* Utilities */
.noWrap{ white-space:nowrap; }




/* media queries */

@media (max-width: 700px) {

  .hamburger{
    display: flex;
    cursor: pointer;
    padding: 1rem;
  }

  .navcontainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Define your menu width */
    height: 100%;
    background: var(--bg);
    transform: translateX(-999%); 
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .navcontainer.open {
  /* Slide back into view */
  transform: translateX(0); 
  
  }
 
 .navBar{
  display: block;
  height: 100%;
  
 
 }
 
  .header-top{
    flex-direction: column;
    gap:0.5rem;
  }
  h1{
    font-size: clamp(4rem, 5vw, 4rem);
  }
 

  .landingPage h5{
    font-size: clamp(1rem, 2vw, 1.5rem);
  }

  .landingPage {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   position: relative;
    
  }

  

  .heroText1.show {
    width: 100%;
    
  }

 .about-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
 }

 .cardsGrid{
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 gap: clamp(var(--space-1) , 5vw, var(--space-3));
 } 

 #footer{
  display: flex;
  flex-direction: column;
}

.landingPage .container{
  width: 100%;
}

.scentSection{
  position: relative;
  height: fit-content;

}

}


@media (min-width: 700px) and (max-width: 2000px) {

  
  .landingPage .container{
    display: flex;
    text-align: center;
    align-self: center;
  }
  
  .hamburger{
    display: none;
  }

  ul {
    padding: 0;
  }

  .navBar{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  transition: background-color 0.7s ease, box-shadow .25s ease;
}




 
  
}

