
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


html{ scroll-behavior:smooth; }
*{
  box-sizing:border-box;
  margin: 0;
  /* border: 1px solid gray; */
}

:root{
  --header-h: 120px;           /* adjust once */
  --bg: #FAF4EF;
  --bg2: #faf4efde;
  --ink: #496C75;
  --muted: #22424B;
  --muted2: #22424B99;
  --pink: #F4A7C1;
  --nav-bar:#F5EEA6;
}





body{
  font-family: 'DM Serif Display', serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: var(--muted);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


ul{
  list-style:none;
  margin: 0;
  padding: 1rem;
}

li{
  padding: 8px;
  font-size: clamp(1rem, 1.2vw, 1.4rem);
}






h1 {
  font-size: 100px;
  letter-spacing: -2px;
  line-height: normal;
  font-family: 'DM Serif Display', serif;
  margin-bottom: 1rem;
  color: var(--bg);
 
  
}

h2{
  font-size: 60px;
  letter-spacing: -0.5px;
  font-family: 'DM Serif Display', serif;
}

h3{
  font-size: 48px;
  letter-spacing: 0px;
  font-family: 'DM Serif Display', serif;

}

h4{
  font-size: 32px;
  font-family: 'manrope', sans-serif;
  margin-bottom: 1rem; 
  
}
h5{
  font-size: 24px;
  margin-bottom: 0.5rem;
  font-family:'manrope' , sans-serif ;
  font-weight: 200;
  letter-spacing: 1px;
}

h6{
  font-size: 16px;
  font-family:'manrope' , sans-serif ;
  font-weight: 600;
  margin-bottom: 2rem;
}

p{
  font-size: 16px;
  letter-spacing: 0.2px;
  font-family: 'manrope', sans-serif;
  color: var(--muted2);
}

a{ 
  text-decoration:none;
  color:inherit;
  font-family: 'manrope', sans-serif; 
  
 }

li a{
  transition: color .25s ease;
}



/* components */

/* Header */

.site-header{
  position:sticky;
  top:0;
  z-index: 1000;
  inset: 0 0 auto 0;
  height: fit-content; 
  margin: 0;
}

.topPink{
  background: var(--pink);
  padding: 0.25rem 0.5rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}


.search input{
  width: min(420px, 60vw);
}

.hamburger{
  display: none;
  cursor: pointer;
}



/* Nav */

.navBar{
  display:flex;
  background: transparent;
  transition: background-color .25s ease, box-shadow .25s ease;
}


.navBar.scrolled{
  background: var(--nav-bar);
  box-shadow: 0 2px 10px rgba(0,0,0,.08);
}

.navBar.scrolled a{
  color: var(--muted);
}

.navBar li :hover {
  color: var(--pink);
}







/* button */

button, .btn{
  background: var(--pink);
  color: var(--bg2);
  border:0;
  padding: 12px 24px;
  font-size: 1rem;
  cursor:pointer;
  display:inline-block;
  width: fit-content;
 
  
}
button:hover, .btn:hover{
  background: var(--pink);
  color:var(--bg);
  transition: background-color .25s ease, color .25s ease;
}

.btn-secondary{
  background: transparent;
  color: var(--muted);
  border: 1px solid var(--muted);
}


/* section and container */


.container{
  width: min(1200px, 90%);
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 4rem;
  height: auto;
}

section{
  padding: 4rem 0;
}



/* Hero */

.landingPage{
  height: 100vh;
  background: url("/resources/Close-up\ of\ Lips\ in\ Water.png") center / cover no-repeat;
  background-attachment: fixed;
  display: flex; 
  padding: 0;
  
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.heroText1 h5{
  color: var(--bg2);
  

}


.heroText1 {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.7s ease, transform 0.7s ease;
  
}

.heroText1.show{
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 70%;
  transform: translateY(0);
}

.hero-title {
  transition: opacity 0.7s ease, transform 0.7s ease;
}



/* About section */


.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

div img{
  width: 100%;
  height: auto;
}



/* card component */
article{
  text-align: left;
}

.card{
  display: flex;
  flex-direction: column ;
  justify-content: space-between;

}

.card img{
  height: 60%;
  object-fit: cover;
  width: 100%;
  
}

.cardText{
  height: 100%;
  text-align: left;
}

.cardsGrid{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 gap: 20px;
 
} 


/* Footer */

footer{
  text-align:center;
  color: var(--bg);
  background-color: var(--ink);
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p{
  margin:0;
  padding: 2rem;
  border-top: 1px solid rgba(59,42,36,.2);
}

/* Utilities */
.noWrap{ white-space:nowrap; }




/* media queries */

@media (max-width: 700px) {

  .hamburger{
    display: flex;
    cursor: pointer;
    padding: 1rem;
  }

  .navcontainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Define your menu width */
    height: 100%;
    background: var(--bg);
    transform: translateX(-999%); 
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .navcontainer.open {
  /* Slide back into view */
  transform: translateX(0); 
  
  }
 
 .navBar{
  display: block;
  height: 100%;
  
 
 }
 
  .header-top{
    flex-direction: column;
    gap:0.5rem;
  }
  h1{
    font-size: clamp(4rem, 5vw, 4rem);
  }
  .landingPage{
    height: 100vh;
  }

  .landingPage .container{
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   position: relative;
    
  }

  .heroText1.show {
    width: 100%;
    
  }

  .about-grid {
    grid-template-columns: 1fr;
  }

  section{
    padding: 0, 2rem;
  }


}

@media (min-width: 700px) and (max-width: 2000px) {

  
  .landingPage .container{
    display: flex;
    text-align: center;
    align-self: center;
    

  }
  
  .hamburger{
    display: none;
  }

  ul {
    padding: 0;
  }




 
  
}

